<% if @events.empty? %>
    <h1> Get started, create a new event. </h1>
<%else%>
    <% @events.each do |event|%>
        <p>
            <h3> 
                <%=link_to "Description: #{event.description}, by #{event.creator.name}", event_path(event.id)%>
            </h3>
        </p><br/>
    <%end%>
<%end%>

    