<h5 class="subtitle"> Upcoming Events: </h5>
    <%if @upcoming_events.empty?%>
        <p> No upcoming events </p>
    <%else%>
        <% @upcoming_events.each do |event|%>
            <p>
                <h3> 
                    <%=link_to "Description: #{event.description}, by #{event.creator.name}", event_path(event.id)%>
                </h3>
            </p><br/>
        <%end%>
    <%end%>