<div class="container">
    <div class="card">
        <%if @event %>
            <div class="card-content">
            <p class="content">
                Description:<br/>
                <%=@event.description%><br/><br/>
                Date:<br/>
                <%=@event.date%>
                
                <p> Attendees: </p>
                <%if !@event.attendees.empty? %>
                    
                        <% @event.attendees.each do |attendee| %>
                            <%=attendee.name%>
                        <%end%>
                
                <%else%>
                    <p>No attendees yet.</p>
                <%end%>
            </p>
            </div>
        <%else%>
            <div class="card-content">
                <div class="content">
                    <p>Event does not exist yet.</p>
                </div>
            </div>
        <%end%>
    </div>
</div>